/* Cabecera */
/*flexbox permite una mejor adaptacion de elementos*/
.cabecera__container{
    display: flex;                          
    justify-content: space-between;
    align-items: center;
    position: fixed;            /*fijo al scrollear */
    top: 0;                     /*coordenada donde quedara fija la cabecera*/
}

/*                          EL SIGUIENTE CODIGO NO PERMITE QUE SE AJUSTEN LOS ELEMENTOS
.logo__item{
    margin-right: 200px;
}

.cabecera__buscar__item{
    margin-right: 200px;
}

.cabecera__buscar__item{
    display: none;
} */


/* Menu */
    /*version movil*/
.menu__container{
    position: fixed;        
    bottom: 0%;
    height: 75px;
    width: 100%;
}

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;       /*separacion*/
}

    /*pseudoclase para trabajar con elementos de lista*/
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}


/* Seccion superior */
.superior__seccion__container{
    display: flex;                      /*posicionando elementos uno al lado de otro*/
    align-items: center;                /*colocando items en el centro del contenedor*/
    white-space: nowrap;                /*texto alineado y si es mas de una palabra, no dividi  r*/
    overflow: scroll;                   /*barra de deslizamiento en este menu superior */
    gap: 15px;                          /*espacio entre elementos */

}

/*Seccion  Videos */

.videos__item{
    height: 303px;
    width: 280px;
    flex-grow: 1;       /*es una propiedad para controlar el crecimiento y la distribución de los elementos flex dentro de un contenedor.*/
}

.videos__container{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;                  /*separacion entre videos*/
     

}


/* DESAFIO DESCRIPCIÓN DE LOS VIDEOS */ 

.descripcion-video {
    margin-top: 1rem;
    display: flex;
    align-items: start; 
    
}

.descripcion-video img {
    margin-right: 1rem; 
    flex-shrink: 0;  /*  Evita que la imagen se reduzca */
    
}

.detalles__video {
    flex-direction: column;
    text-align:left;

}

.detalles__video h3{
    margin-bottom: 10px;
}


/* Rodapie */   
.rodapie__container{
    display: flex;                  /*acomodando elementos*/
    /* flex-direction: column;  
   flex-wrap: wrap; */
   flex-flow: column wrap;          /*esta linea resume las dos anteriores*/
    
   
}


/*EN ESTE ESPACIO SE ESTABLECEN TAMAÑOS PARA IR MOSTRANDO ELEMENTOS */
@media (min-width:834px) {

    /* Cabecera */
    .cabecera__buscar__item{
        display: block                  /*dispositivos de al menos 834px de ancho */
    }
    /* Desafío Menú Lateral */
    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }
    
    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }


    /* Rodapie */
    .rodapie__container{
        justify-content: space-between;         /*respetando espacios entre columnas*/
    }
   

}



@media (min-width:1440px ){              /*dispositivos de al menos 1440px de ancho */

    .menu__container{
        width: 239px;
        overflow: scroll;

    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4){
        display: flex;
    }

    .menu__lista{
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;
       
    }

    .menu__lista:nth-child(3){
        flex-direction: column-reverse;

    }
    .menu__itens{
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    /*si se utilizara un lector de pantalla, no se recomienda usar la sigioente propiedad para ordenar items -> order*/
    .videojuegos{
        order: 3;
    }

    .peliculas{
        order:2;
    }

    .premium{
        order:1;
    }

    
   




}

